<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h2>新用户注册</h2>
  <form action="thankyou.html" method="get">

  <label for="fn">姓名</label>
  <input id='fn' type="text" name="" placeholder="your name" required="">
      <p>
          <label for="pass">密码：</label>
          <input type="password" name="" value="">
      </p>

      <label for="pass">确认密码：</label>

   <input type="password" name="" value="">

    <p>



   <p>性别:

  <label for="n">男</label>

  <input id="n" type="radio" name="sex" value="male">

  <label for="v">女</label>

  <input id='v' type="radio" name="sex" value="female"><br>

  <p>

  <label for="mail">邮箱：</label>

  <input id='mail' type="email" name="" value="" placeholder="example@example.com"><br>

 <p>请选择支付方式？

 <select name="payment">

  <option value="Ali">支付宝</option>

  <option value="cc">信用卡</option>

 </select>

 <p></p>

 <input type="submit" name="" value="注册">

</form>

</body>
</html>